*{
    text-align: center;
    box-sizing: border-box;
    margin: auto;
}

body{
    background-image: url('/img/bg-try-01.jpg');
    background-size: cover;
    width: 800px;;
    height: 800px;
    margin: auto;
}

.header{
    margin-top: 50px;

    width: 50%;
    height: 15%;
    background-color: #bcaa9979;
}

.timer{
    display:inline;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    font-size: 40px;
    background-color: rgb(160, 43, 43);
}

button{
    width: 100px;
    height: 40px;

    margin: 10px;
    border-radius: 4px;

    background-color: #c2b97f73;
    cursor: pointer;
}

.difficulty button:hover{
    font-weight: bold;
    background-color: #c2b97ffd;
}

.restart-btn{
    width: 68px;
    height: 62px;
    margin-left: 127px;
}

.restart-btn img{
    width: 30px;
    height: 30px;
}


table{

    width: 50%;
    height: 40%;

    border: 1px solid black;

    background-color: #60492C;
}

td{
    border: 1px solid black;
    width: 20px;
    height: 30px;
    padding: 2px;
}



.marked{
    background-color: blue;
}

.shown{
    background-color: #f9ebe0;
}

.mine-clicked{
    background-color: red;
}

img{
    width: 25px;
    height: 25px;
}
